* {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
body {
  max-width: 1440px;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #434455;
  margin: 0 auto; 
}
/* HEADER */
.header {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container__header {
  padding: 0 156px;
  display: flex;
  justify-content: space-between;
  
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px
}
.nav_logo-span {
  color: #2e2f42;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.active {
  position: relative;
  color: #404bbf;

}
.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.nav_item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style-type: none;
}
.nav_link {
  padding: 24px 0;
  color: #2e2f42;
  text-decoration: none;
}
.nav_link:hover {
  color: #404bbf;
}
.nav_link:focus {
  color: #404bbf;
}
.nav_link.active::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
}
address {
  font-style: normal;
}
.address_list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.address_item {
  padding: 24px 0;
  list-style-type: none;
}
.address_link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address_link:hover {
  color: #404bbf;
}
.address_link:focus {
  color: #404bbf;
}
/* MAIN */

/* solutions container */
.section {
  padding: 188px 0;
}
.solutions_container {
  background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(/images/people-office.jpg);
    background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  display: flex;
  justify-content: center;
  max-width: 1440px;
}
.container__solutions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.solutions_title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  max-width: 496px;
  letter-spacing: 1.12px;
  margin-bottom: 48px;
}
.solutions_button {
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.solutions_button:hover {
  background-color: #404BBF;
}
.solutions_button:focus {
  background-color: #404BBF;
}

/* advantages container */
.advantages_container {
  display: flex;
  justify-content: center;
  padding: 120px 0;
}
.advantages_list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container__advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
}
.advantages_item-icon-box {
  border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    padding: 24px 100px;
    margin-bottom: 8px;
}
.advantages_item-icon {
  width: 64px;
  height: 64px;
}
.advantages_item {
  list-style-type: none;
  width: calc((100% - 72px) / 4)
}
.advantages_item-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.advantages_item-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* our team */
.our-team_container {
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  padding: 120px 0;
}
.container__our-team {
  display: flex;
  flex-direction: column;
}
.our-team_title {
  color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.our-team_list {
  display: flex;
    justify-content: space-between;
    gap: 24px;
}
.our-team_item-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}
.our-team_item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team_item-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.our-team_item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.our-team_item-socials-container {
  display: flex;
  gap: 24px;
}
.socials-box  {
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
  position: relative;
}
.socials-box:hover  {
  background-color: #31D0AA;
}
.socials-box:focus {
  background-color: #31D0AA;
}
.socials-icon  {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #F4F4FD;
}
/* portfolio container */

.portfolio_container {
 display: flex;
 justify-content: center;
padding: 120px 0;
}
.portfolio_title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    font-style: normal;
    margin-bottom: 72px; 
}
.porfolio_image-container {
  position: relative;
  overflow: hidden;
}
.portfolio_item-description {
  border: 1px solid #E7E9FC;
  border-top: none;
}
.portfolio_list {
    flex-wrap: wrap;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    row-gap: 48px;
}
.portfolio_item {
    list-style-type: none;
    position: relative;
    overflow: hidden;
    width: calc((100% - 48px) / 3);
    z-index: 10;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio_item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio_item-pic-hover {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  background-color: #4D5AE5; 
  z-index: 20;
}
.portfolio_item-pic-hover-text  {
  color: #F4F4FD;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.portfolio_item:hover .portfolio_item-pic-hover-text  {
  transform: translateY(0%);
}
.portfolio_item-description {
  position: relative;
  z-index: 30;
  background-color: #Fff;
  padding: 32px 16px;
}

.portfolio_item-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}
.portfolio_item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 0 16px 32px 0;
}

/* footer */
.footer  {
    background-color: #2E2F42;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 120px;
    padding: 100px 156px;
}
.container__footer {
  display: flex;
  gap: 120px;
  align-items: baseline
}

.footer_socials-container  {
  display: flex;
  gap: 16px;
}
.footer_socials-box {
  width: 40px;
  height: 40px;

}
.footer_logo-desc {
  margin-right: 120px
}
.social-media_text {
  color:  #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
.footer_logo {
  display: inline-block;
    color: #4D5AE5;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 16px;
}
.footer_logo-span {
    color: #F4F4FD;
}
.footer_text {
  width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}